#main {
    background-image: url(../img/login.png);
    width: 100%;
    height: 95vh;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 10%;
}
body {
    background-image: url("../img/fotografias-paisajes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}