*{
    padding: 0;
    margin: 0;
}
#nav-bar-vertical{
    margin-left: 490px;
    display: inline-block;
    margin-right: 67px;
    float: left;
}
.list-menu-vertical{
    margin: 17px;
    margin-top: 40px;   
    font-size: 1em;
    width: 270px;
}
.menu-vertical{  
    font-family: calibri, sans-serif;
    font-size: 1.05em;
    color: white;
    padding: 10px;
    margin-bottom: 3px;
    background-color: #575756;
}
a{
    text-decoration: none;
    color: white;
}
.menu-vertical:hover{
    background-color: rgb(134, 130, 136);
}
#nav-bar-horizontal{ 
    display: inline-block;
    width: 100%;
}
.list-menu-horizontal{  
    margin: 15px;
    margin-top: 40px; 
    font-size: 1em;
    text-align: center;  
}
.menu-horizontal{ 
    display: inline-block;
    color: white;
    padding: 5px 10px;
    margin-bottom: 3px;
    background-color: #fff;
    color: black;
    border-right: 1px solid #ff6b00!important;
    font-family: calibri, sans-serif;
    font-size: 1.05em;
    text-align: center; 
}
a{
    text-decoration: none;
    color: black; 
}
.menu-horizontal:hover{
    background-color: white;
}