* {
    margin: 0;
    padding: 0;
}
.container-flex-1 {
    background-color: aqua;
    display: flex;
    flex-direction: row;
}
.container-flex-2 {
    background-color: aqua;
    display: flex;
    flex-direction: column;
}
.container-flex-3 {
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
}
.container-flex-4 {
    background-color: aqua;
    display: flex;
    flex-wrap: nowrap;
}
.container-flex-5 {
    background-color: aqua;
    display: flex;
    flex-flow: row-reverse wrap;
}
.container-flex-6 {
    background-color: aqua;
    display: flex;
    flex-flow: row-reverse nowrap;
}
.container-flex-7 {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}
.container-flex-8 {
    background-color: aqua;
    display: flex;
    justify-content: flex-start;
}
.container-flex-9 {
    background-color: aqua;
    display: flex;
    justify-content: flex-end;
}
.container-flex-10 {
    background-color: aqua;
    display: flex;
    justify-content: center;
    height: 500px;
}
.container-flex-11 {
    background-color: aqua;
    display: flex;
    justify-content: space-around;
}
.container-flex-12 {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}
.item-flex {
    width: 200px;
    height: 200px;
    background-color: khaki;
    color: white;
    font-size: 2em;
    margin: 20px;
}