*{
    margin: 0;
    padding: 0;
}

h1
 {  
    text-align: center;
    font-style: 'italica';
    font-size: 1.3em;
    background: rgb(221, 221, 199);
    font-family: sans-serif ;
    padding: 10px;
    
}
   
    

h2{
    font-size: 2em;
    text-align: center;
    font-style: 'italica';
    font-size: 2.3em;
    background: rgb(255, 255, 253);
    padding-top: 15px;
    font-family: 'Bellota';

}
.texto{
    font-size: 1.2em;
    text-align: justify;
    padding: 15px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.content-main{
 
    background-color: white;
    width: 100%;
    height: 700px;
    margin-bottom: 0px;
    padding-left: 10px;
}
.content-1{
    background: white;
    width: 23%;
    height: 600px;
    display: inline-block;
    vertical-align: top;
    color: black;
    
    
}
.content-2{
    background: white;
    width: 23%;
    height: 600px;
    display: inline-block;
    vertical-align: top;
}
.content-3{
    background: white;
    width: 23%;
    height: 600px;
    display: inline-block;
    vertical-align: top;
}
.content-4{
    background: white;
    width: 23%;
    height: 600px;
    display: inline-block;
    color: black;
    vertical-align: top;
}


.content-nav-bar
{
    width: 100%;
    height: 80px;
    background-color: white;
    position: fixed;
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    top: 0;
    left: 0;
    

}

.list-menu
{   font-family: 'Bellota';
    font-size: 0.5em;
    text-align: right;
    background: rgb(180, 174, 235);
    padding:15px;
    text-decoration: none;
    list-style: none;
    color: black;
    

}
.items-menu
{
    display: inline-block;
    font-weight:0.8em ;
    font-weight: bold;
    margin-left: 45px;
    font-size: 1em;
    text-decoration: none;
    list-style: none;
    
    
    
}
.font-Oswald {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;

} 

.icono
    {
   
        float: left;
        margin-right:10px ;
        margin-left: 42px;
        margin-top: 0;
        margin-bottom: 10px;
        text-align: left;
        text-decoration: none;
        list-style: none;
        

    
    }
    .pos-left{
        float: left;
        margin-right:10px ;
        margin-left: 30px;
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
        text-decoration: none;
        list-style: none;
        font-family: 'oswald';
        
    }
    
        
   
   img {
       margin:  0 auto 0 auto;
       display: block;
       position: initial;
   }


   @media only screen and (min-width:1024px) and (max-width: 1680px)
   {
       body{
           background-color: purple;
       }
       .content-main{
        margin-top: 10px;
        width: 100%;
        margin-bottom: 0px;
        padding-left: 15px;
       
    }
    .content-1{
        float: left;
        width: 30%;
        margin-left: 20px;
        
      
    }
    .content-2{
        float: left;
        width: 30%;
        margin-left: 25px;
     
    }
    .content-3{
        float: left;
        width: 30%;
        margin-left: 20px;
      
        
    }
    .content-4{
        float: left;
        width: 30%;
        margin-left: 20px;
  
       
    }
    
   
   }
   @media only screen and (min-width:768px) and (max-width: 1023px) 
   {
       body{
           background-color: pink;
       }
       .content-main{
        width: 100%;
        margin-bottom: 0px;
        padding-left: 15px;
    }
    .content-1{
        float: left;
        width: 45%;
        margin: 15px;
      
    }
    .content-2{
        float: left;
        width: 45%;
        margin: 15px;
    }
    .content-3{
        float: left;
        width: 45%;
        margin: 15px;
        
    }
    .content-4{
        float: left;
        width: 45%;
        margin: 15px;
        
        
       
    }
    
   }

   @media only screen and (max-width: 767px)
   {
       body {
           background-color: powderblue;
       }
       .content-main{
        margin-top: 1;
        width: 100%;
        margin-bottom: 0px;
        padding-left: 15px;
    }
    .content-1{
        float: left;
        width: 90%;
        margin: 15px;
    
      
    }
    .content-2{
        float: left;
        width: 90%;
        margin: 15px;
    
    }
    .content-3{
        float: left;
        width: 90%;
        margin: 15px;
    
        
    }
    .content-4{
        float: left;
        width: 90%;
        margin: 15px;
    
       
    }
    
   }
   


/* bellota-regular - latin */
@font-face {
    font-family: 'Bellota';
    font-style: normal;
    font-weight: 400;
    
    src: url('../fonts/bellota-v2-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/bellota-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bellota-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bellota-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/bellota-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bellota-v2-latin-regular.svg#Bellota') format('svg'); /* Legacy iOS */
  }