* {
    padding: 0;
    margin: 0;
}
h1 {
    text-align: center;
}
body {
    background: #FEFEFE;
}
.menu_bar {
    display: none;
}
header {
    width: 100%;
}
header nav {
    background: #023859;
    width: 100%;
}
nav ul {
    list-style: none;
    text-align: right;
}
nav ul li {
    display: inline-blocK;
    position: relative;
}
nav ul li:hover {
    background: #E6344A;
}
nav ul li a {
    color:white;
    display: block;
    text-decoration: none;
    padding: 20px;
}
nav ul li .children {
    display: none;
    position: absolute;
    background: #011826;
    text-align: left;
}
nav ul li:hover .children {
    display: block;
    width: 120%;
    text-align: left;
}
nav ul li .children li {
    overflow: hidden;
    display: block;
    border-bottom: 1px solid rgba(255,225,225,.5);
}
nav ul li .children li a {
    display: block;
}
nav ul li span {
    margin-right: 10px;
}
nav ul li .children li a span {
    float: right;
    position: relative;
    top: 3px;
    margin-right: 0;
    margin-left: 0;
}
nav ul li .icon-chevron-small-down {
    position: relative;
    top: 3px;
    margin-left: 10px;
}
@media screen and (max-width: 800px) {
    body {
        padding-top: 80px;
    }
    .menu_bar {
        display: block;
        background: #E6344A;
        position: fixed;
        top: 0;
        width: 100%;
    }
    .menu_bar .bt-menu {
        display: block;
        padding: 20px;
        color: #fff;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
        overflow: hidden;
    }
    .menu_bar span {
        float: right;
        font-size: 40px;
    }
    header nav {
        width: 80%;
        height: calc(100% - 80px);
        position: fixed;
        right: 100%;
        margin: 0;
        overflow: scroll;
    }
    header nav ul {
        text-align: left;
    }
    header nav ul li {
        display: block;
        border-bottom: 1px solid rgba(255,225,225,.5);
    }
    header nav ul li a {
        padding: 12px;
        display: block;
    }
    header nav ul li .children {
        position: relative;
        width: 100%;
    }
    header nav ul li .children li a {
        margin-left: 20px;
    }
    nav ul li .icon-chevron-small-down {
        float: right;
    }
    nav ul li:hover .children {
        display: none;
    }
}