h1 {
    text-align: center;
}
body {
    background: linear-gradient(to right, mediumpurple, lightsalmon);
}
.contenedor {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /*grid-template-rows: minmax(100px, auto ) 200px;*/
    gap: 20px;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
}

  .contenedor .item-1 {
    background-color: transparent;
    font-size: 76px;
    font-family: 'Lobster', cursive;
    border-bottom: 4px solid rgb(22, 0, 21);
    text-align: center;
    color: rgb(46, 3, 51);
    grid-column-start: 1;
    grid-column-end: 8;
}
.contenedor div{
    text-align: left;
    font-size: .8em;
    padding-bottom: 3em;
    padding-right: 3em;
    text-align: center;
    padding-left: 8em;
  }
.contenedor > div {
    display: block;
    padding: 20px;
    color: #fff;
    background: #3d042fec;
    box-shadow: 2px 2px 1px rgba(0,0,0,.25);
}

.contenedor .item-2 {
    /*background: #ff8800;*/
    grid-column-start: 5;
    grid-column-end: 6;
}
.contenedor .item-3 {
    background: #a00a5a;
}
.contenedor .item-4 {
    background: #bd3a82;
}
.contenedor .item-5 {
    background: #bd1e95;
}