.general-box {
    border: 1px solid black;
    width: 300px;
    height: 300px;
    margin: 10px;
}
.bloque {
    clear: both;
}
div.general-box{
    float: left;
}
.box-main-1 div {
    background: lawngreen;
}
.box-main-2 > div {
    background: yellow;
}
.box-main-3 + div {
    background: teal;
}
.box-main-4 ~ div {
    background: orange;
}
.box-main-5 [class^="gen"] {
    background: crimson;
}
.box-sub-hijo-1 {
    margin-right: 310px;
}
.box-sub-nieto {
    margin-left: 310px;
    margin-top: -20px;
}
.box-sub-hijo-2 {
    margin-right: 0px;
}
.box-main {
    margin-bottom: 50px;
}
.box-3, .box-4 {
    margin-top: -20px;
}
.divisor {
    clear: both;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
}