* {
    margin: 0;
    padding: 0;
}
table {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    margin-top: 50px;
    font-size: 1em;
    border-collapse: collapse;
}
td, th {
    border: 3px solid rgb(200, 200, 200);
    padding: 10px;
    font-family: 'Texturina', serif;
}
.blanco {
    border: white;
}
.borde {
    border: 3px solid white;
}
.head-iphone {
    background: rgb(252, 180, 113);
    border: 1px solid rgb(252, 180, 113);
    border-top: 0;
    border-left: 0;
    border-top-left-radius: 15px;
}

.head-iphonee {
    background: rgb(254,203,186);
    border: 3px solid rgb(254,203,186);
}
.head-motorola {
    background: rgb(174,255,255);
    border: 1px solid rgb(174,255,255);
}
.head-sony {
    background: rgb(255,255,119);
    border: 1px solid rgb(255,255,119);
}
.head-amazon {
    background: rgb(117,255,136);
    border: 1px solid rgb(117,255,136);
}
.head-nokia {
    background: rgb(255,174,136);
    border: 1px solid rgb(255,174,136);;
}
.head-lg {
    background: rgb(231,243,156);
    border: 1px solid rgb(231,243,156);
}
.head-htc {
    background: rgb(188, 139, 245);
    border: 1px solid rgb(188, 139, 245);
}
.head-samsung {
    background: rgb(255, 136, 182);
    border: 1px solid rgb(255, 136, 182);
    border-top-right-radius: 15px;
    border-top: 0;
    border-right: 0;
}
.colores {
    color:rgb(187, 1, 1);
}
